# .coveragerc to control coverage.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't test pass statements
    pass

omit =
    tests/*
    setup.py


show_missing = True

[run]
source =
    pulser-core/pulser/
    pulser-simulation/pulser_simulation/
    pulser-pasqal/pulser_pasqal/
