[flake8]
docstring-convention = google
exclude = ./build, ./docs
extend-ignore =
    # D105 Missing docstring in magic method
    D105,
    # E203 whitespace before ':' (for compliance with black)
    E203,
per-file-ignores =
  # D100 Missing docstring in public module
  # D103 Missing docstring in public function
  # F401 Module imported but unused
  tests/*: D100, D103
  __init__.py: F401
  setup.py: D100
