# tests
black[jupyter] ~= 24.3
flake8
flake8-docstrings
isort
mypy == 1.2
pytest
pytest-cov
ruff==0.11.1

# CI
pre-commit

# tutorials
nbmake ~= 1.5
notebook
pulser-pasqal
python-igraph
scikit-optimize
