# tests
black[jupyter] ~= 24.3
flake8
flake8-docstrings
isort
mypy==1.18.2
pytest
pytest-cov
ruff==0.11.1

# CI
pre-commit

# tutorials
nbmake ~= 1.5
notebook
pasqal-cloud @ git+https://github.com/pasqal-io/pasqal-cloud@ap/1822-rename-classes#egg=pasqal-cloud&subdirectory=pasqal-cloud
python-igraph
scikit-optimize
