matplotlib
numpy >= 1.20, < 1.22
qutip
scipy

# version specific
typing-extensions; python_version == '3.7'
backports.cached-property; python_version == '3.7'

# tests
pytest
pytest-cov
flake8
flake8-docstrings
mypy
black

# tutorials
notebook
scikit-optimize
python-igraph
