matplotlib
numpy >= 1.20
qutip >= 4.6.3
scipy

# version specific
backports.cached-property; python_version == '3.7'
typing-extensions; python_version == '3.7'

# tests
black
black[jupyter]
flake8
flake8-docstrings
isort
mypy == 0.921
pytest
pytest-cov

# CI
pre-commit

# tutorials
notebook
python-igraph
scikit-optimize
