name: Pulser setup
description: "Sets up Python and installs Pulser."
inputs:
  python-version:
    description: Python version
    required: false
    default: "3.9"
  extra-packages:
    description: Extra packages to install (give to grep)
    required: false
    default: ""
  with-torch:
    description: Whether to include pytorch
    required: false
    default: "with-torch"
  numpy:
    description: Which version of numpy to install
    required: false
    default: "numpy-v2"
runs:
  using: "composite"
  steps:
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}
        cache: "pip"
    - name: Install Pulser (with torch)
      if: ${{ inputs.with-torch == 'with-torch' }}
      shell: bash
      run: |
        python -m pip install --upgrade pip
        make dev-install
    - name: Install Pulser (without torch)
      if: ${{ inputs.with-torch != 'with-torch' }} 
      shell: bash
      run: |
        python -m pip install --upgrade pip
        make dev-install-no-torch
    - name: Install numpy v1
      if: ${{ inputs.numpy == 'numpy-v1'}}
      shell: bash
      run: |
        pip install numpy==1.26
    - name: Install extra packages from the dev requirements
      if: "${{ inputs.extra-packages != '' }}"
      shell: bash
      run: |
        grep -e ${{ inputs.extra-packages }} dev_requirements.txt \
          | sed 's/ //g' \
          | xargs pip install
