# For generating documentation.
Sphinx
sphinx-rtd-theme # documentation theme
sphinx_autodoc_typehints
nbsphinx
nbsphinx-link
ipython != 8.7.0 # Avoids bug with code highlighting

# Not on PyPI
# pandoc
