name: build

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ./pulser-core -e ./pulser-simulation
          pip install -r requirements.txt
      - name: Lint with flake8
        run: flake8
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install black
        run: |
          python -m pip install --upgrade pip
          pip install black
          pip install 'black[jupyter]'
      - name: Check formatting with black
        run: black --check --diff .
  isort:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ./pulser-core -e ./pulser-simulation
          pip install -r requirements.txt
      - name: Check import sorting with isort
        run: isort --check-only --diff .
  typing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ./pulser-core -e ./pulser-simulation
          pip install -r requirements.txt
      - name: Type check with mypy
        run: mypy
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9, "3.10"]
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ./pulser-core -e ./pulser-simulation
          pip install -r requirements.txt
      - name: Run the unit tests & generate coverage report
        run: pytest --cov --cov-fail-under=100
