name: build

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v3
      - name: Pulser + flake8 install
        uses: ./.github/workflows/pulser-setup
        with:
          extra-packages: flake8
      - name: Lint with flake8
        run: flake8
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v3
      - name: Pulser + black install
        uses: ./.github/workflows/pulser-setup
        with:
          extra-packages: black
      - name: Check formatting with black
        run: black --check --diff .
  isort:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v3
      - name: Pulser + isort install
        uses: ./.github/workflows/pulser-setup
        with:
          extra-packages: isort
      - name: Check import sorting with isort
        run: isort --check-only --diff .
  typing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v3
      - name: Pulser + mypy install
        uses: ./.github/workflows/pulser-setup
        with:
          extra-packages: '''mypy\|pytest'''
      - name: Type check with mypy
        run: mypy
  test:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.11"]
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v3
      - name: Pulser + pytest install
        uses: ./.github/workflows/pulser-setup
        with:
          python-version: ${{ matrix.python-version }}
          extra-packages: pytest
      - name: Run the unit tests & generate coverage report
        run: pytest --cov --cov-fail-under=100
