name: test

on:
  push:
    branches:
      - master
      - develop

jobs:
  full-tests:
    runs-on: ${{ matrix.os }}
    env:
      # Set Matplotlib backend to fix flaky execution on Windows
      MPLBACKEND: Agg
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        numpy: ["numpy-v1", "numpy-v2"]
        with-torch: ["with-torch", "no-torch"]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        exclude:
          # Numpy v1 does not support Python 3.13
          - python-version: "3.13"
            numpy: "numpy-v1"
          - numpy: "numpy-v1"
            with-torch: "no-torch"
          # Numpy v1 does not support Python 3.14
          - python-version: "3.14"
            numpy: "numpy-v1"
          - numpy: "numpy-v1"
            with-torch: "no-torch"
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v4
      - name: Pulser + pytest setup
        uses: ./.github/workflows/pulser-setup
        with:
          python-version: ${{ matrix.python-version }}
          extra-packages: pytest
          numpy: ${{ matrix.numpy }}
          with-torch: ${{ matrix.with-torch }}
      - name: Run the unit tests & generate coverage report
        run: pytest --cov
