name: test

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  full-tests:
    runs-on: ${{ matrix.os }}
    env:
      # Set Matplotlib backend to fix flaky execution on Windows
      MPLBACKEND: agg
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - name: Check out Pulser
        uses: actions/checkout@v3
      - name: Pulser + pytest setup
        uses: ./.github/workflows/pulser-setup
        with:
          python-version: ${{ matrix.python-version }}
          extra-packages: pytest
      - name: Run the unit tests & generate coverage report
        run: pytest --cov --cov-fail-under=100
